body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Inter';
	letter-spacing: 0px;
	padding: 10px;
	overflow: auto;
}

.detail-tempat-icon {
	width: 12px; height: 12px;
	flex-shrink: 0;
}

.detail-tempat {
	container: detail-tempat / inline-size;
	width: 100%;
	max-width: 1280px;
	min-height: 730px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	background-color: #fff;
}

.detail-tempat-navbar {
	container: detail-tempat-navbar / inline-size;
	width: 100%;
	max-width: 1024px;
	display: flex;
	align-items: center;
	gap: 32px;
	background-color: #fff;
	padding: 4px 89px;
	border-bottom: 1px solid #d8d8d8;
}

.detail-tempat-container1 {
	display: flex;
	align-items: center;
	gap: 8px;
	color: #222;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.429;
}

.detail-tempat-wire-box1 {
	width: 40px;
	flex-shrink: 0;
	border-radius: 6px;
}

.detail-tempat-text1 {
	text-align: left;
}

.detail-tempat-nav {
	display: flex;
	align-items: center;
	gap: 16px;
	color: #666;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.333;
	padding-right: 12px;
}

.detail-tempat-text-btn1 {
	color: #222;
	text-align: center;
	padding: 4px 12px 2px 13px;
	border-bottom: 2px solid var(--primary);
}

.detail-tempat-text-btn2 {
	text-align: center;
}

.detail-tempat-text-btn3 {
	margin-left: 12px;
	text-align: center;
}

.detail-tempat-main-content {
	position: relative;
	margin-left: 15px; margin-bottom: -18px;
	width: calc(100% - 163px);
	max-width: 1024px;
	padding-right: 15px;
	padding-bottom: 660px;
}

.detail-tempat-container2 {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 10px;
	font-weight: 400;
	line-height: 1.5;
}

.detail-tempat-text2 {
	color: #aaa;
	text-align: left;
}

.detail-tempat-text3 {
	color: #c0c0c0;
	text-align: left;
}

.detail-tempat-text4 {
	color: var(--primary);
	text-align: left;
}

.detail-tempat-container3 {
	position: absolute; top: 40px; left: 0; right: 15px; 
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 16px;
	padding-bottom: 201px;
}

.detail-tempat-container4 {
	position: absolute; top: 0; left: 0; right: 312px; 
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.detail-tempat-photo-gallery {
	container: detail-tempat-photo-gallery / inline-size;
	display: flex;
	flex-direction: column;
	gap: 31px;
	color: #aaa;
	font-size: 9px;
	font-weight: 400;
	line-height: 1.25;
	text-align: center;
}

.detail-tempat-wire-box2 {
	background: url(../assets/detail-tempat-wire-box2.png) top left / cover no-repeat;
	padding: 107px 3px;
	border: 1px solid #c0c0c0;
	border-radius: 10px;
}

.detail-tempat-container5 {
	display: flex;
	align-items: flex-start;
	gap: 8px;
}

.detail-tempat-wire-box {
	width: 100%;
	min-width: 0;
	flex-grow: 1;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
}

.detail-tempat-content-tabs {
	display: flex;
	flex-direction: column;
	gap: 16px;
	text-align: left;
}

.detail-tempat-container6 {
	display: flex;
	align-items: flex-start;
	gap: 12px;
	font-size: 10px;
	font-weight: 500;
	line-height: 1.5;
	border-bottom: 1px solid #d8d8d8;
}

.detail-tempat-text-btn4 {
	margin-bottom: -1px;
	width: 57px;
	flex-shrink: 0;
	color: #222;
	text-align: center;
	padding: 8px 12px;
	border-bottom: 2px solid var(--primary);
}

.detail-tempat-text-btn5 {
	margin-top: 8px;
	color: #888;
	text-align: center;
}

.detail-tempat-container7 {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.detail-tempat-text-container {
	color: #222;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.333;
}

.detail-tempat-container8 {
	display: flex;
	flex-direction: column;
	padding-bottom: 44px;
	border-bottom: 1px solid #f0f0f0;
}

.detail-tempat-container9 {
	display: flex;
	flex-direction: column;
}

.detail-tempat-container10 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 1.5;
}

.detail-tempat-text5 {
	text-align: left;
}

.detail-tempat-text6 {
	color: var(--border);
	font-size: 9px;
	font-weight: 400;
	text-align: left;
}

.detail-tempat-container11 {
	margin-right: 44px;
	height: 14px;
	flex-shrink: 0;
}

.detail-tempat-text-paragraph1 {
	margin-top: 4px;
}

.detail-tempat-place-info {
	margin-right: -15px;
	width: 280px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	text-align: left;
}

.detail-tempat-container12 {
	width: 280px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-self: start;
}

.detail-tempat-text-heading {
	align-self: stretch;
	color: var(--primary);
	--min-font-size: 15; --max-font-size: 16; font-size: var(--interpolate);
	font-weight: 600;
	line-height: 1.25;
}

.detail-tempat-container13 {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 10px;
	line-height: 1.5;
	padding-top: 8px;
}

.detail-tempat-container14 {
	width: 68px; height: 12px;
	flex-shrink: 0;
}

.detail-tempat-text7 {
	text-align: left;
}

.detail-tempat-text8 {
	color: var(--border);
	font-weight: 400;
	text-align: left;
}

.detail-tempat-container15 {
	margin-top: 1px;
	width: 280px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: start;
	color: var(--text);
	font-size: 10px;
	font-weight: 400;
	line-height: 1.625;
}

.detail-tempat-container16 {
	display: flex;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
}

.detail-tempat-icon-margin {
	height: 14px;
}

.detail-tempat-text9 {
	text-align: left;
}

.detail-tempat-container17 {
	margin-left: 1px;
	display: flex;
	align-items: flex-start;
	gap: 9px;
}

.detail-tempat-circle {
	position: relative;
	margin-top: 3px;
	width: 11px; height: 11px;
	flex-shrink: 0;
	border: 1px solid var(--border);
	border-radius: 50%;
}

.detail-tempat-graphic {
	position: absolute; top: 1px; left: 4px; 
	width: 3px; height: 5px;
}

.detail-tempat-text10 {
	text-align: left;
}

.detail-tempat-container18 {
	margin-top: 5px;
	display: flex;
	align-items: flex-start;
	gap: 0;
	color: var(--text);
	font-size: 9px;
	font-weight: 400;
	line-height: 1.5;
}



/* btn-chip */

.btn-chip {
	min-height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	font-style: normal;
	letter-spacing: 0px;
	text-align: unset;
	background-color: var(--p);
	padding: 0 8px;
	border: 1px solid var(--primary);
	border-radius: 26843500px;
}

.btn-chip-icon {
	width: 10px; height: 10px;
	flex-shrink: 0;
}

.btn-chip-label {
	text-align: left;
}
/* end btn-chip*/


.btn-chip1 {
	align-items: flex-start;
}

.btn-chip1 .btn-chip-icon {
	margin-top: 4px;
}

.btn-chip1 .btn-chip-label {
	margin-top: 2px;
}

.btn-chip2 {
	margin-left: 2px;
}

.detail-tempat-btn {
	margin-top: 1px;
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 10px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0px;
	text-align: center;
	background: linear-gradient(90deg, #6e44ff 0%, #20007f 100%) top left / auto auto no-repeat;
	padding: 9px 10px;
	border-radius: 4px;
}

.card-margin {
	display: flex;
	flex-direction: column;
	gap: 7px;
	font-size: 9px;
	line-height: 1.5;
	padding: 12px;
	border: 1px solid var(--primary);
	border-radius: 10px;
}



/* container */

.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.container-text1 {
	color: var(--text);
	font-weight: 400;
	text-align: left;
}

.container-text2 {
	color: #555;
	font-weight: 500;
	text-align: left;
}
/* end container*/


.card-margin-text {
	color: var(--primary);
}

.container1 {
	margin-top: 1px;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 480px) {
	.detail-tempat-navbar {
		padding-inline: var(--margin-sm);
	}
	.detail-tempat-main-content {
		padding-inline: 0;
	}
	.detail-tempat-container11 {
		margin-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container detail-tempat (width < 610px) {
	.detail-tempat-navbar {
		flex-direction: column;
		align-items: center;
		gap: 13px;
		padding: 8px 10px;
	}
	.detail-tempat > * {
		margin-left: 0; margin-right: 0;
	}
	.detail-tempat-navbar > * {
		text-align: center;
	}
}

@container detail-tempat-navbar (width < 274px) {
	.detail-tempat-nav {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.detail-tempat-nav > * {
		margin-left: unset !important; margin-top: unset !important;
		text-align: center;
	}
}

@container detail-tempat-photo-gallery (width < 445px) {
	.detail-tempat-container5 {
		flex-direction: column;
		align-items: center;
		gap: 22px;
	}
	.detail-tempat-container5 > .detail-tempat-wire-box3 {
		width: 100%;
	}
	.detail-tempat-container5 > .detail-tempat-wire-box4 {
		width: 100%;
	}
	.detail-tempat-container5 > .detail-tempat-wire-box5 {
		width: 100%;
	}
	.detail-tempat-container5 > .detail-tempat-wire-box6 {
		width: 100%;
	}
}
